<app-header></app-header>
<ion-content class="ion-padding">
  <div class="centered-content">
    <div class="form-container">
      <h2>Registro</h2>
      <form (ngSubmit)="registrar()" id="registro-form">
        <div class="input-wrapper">
          <ion-label>Nombre Completo</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="usuario.nombre" name="nombre" required></ion-input>
          </ion-item>
        </div>

        <div class="input-wrapper">
          <ion-label>Usuario</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="usuario.usuario" name="usuario" required></ion-input>
          </ion-item>
        </div>

        <div class="input-wrapper">
          <ion-label>Contraseña</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="usuario.contrasena" name="contrasena" type="password" required></ion-input>
          </ion-item>
        </div>

        <div class="input-wrapper">
          <ion-label>Teléfono</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="usuario.telefono" name="telefono" type="tel" required></ion-input>
          </ion-item>
        </div>

        <div class="input-wrapper">
          <ion-label>Email</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="usuario.correo" name="correo" type="email" required></ion-input>
          </ion-item>
        </div>

        <div class="input-wrapper">
          <ion-label>Rol</ion-label>
          <ion-item>
            <ion-select [(ngModel)]="usuario.tipo" name="tipo" required (ionChange)="handleBlur()">
              <ion-select-option value="alumno">Alumno</ion-select-option>
              <ion-select-option value="docente">Docente</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="button-container">
          <ion-button expand="block" type="submit" class="btn-register">
            Registrar
          </ion-button>
        </div>

        <div class="button-container">
          <ion-button expand="block" (click)="volverALogin()" class="btn-back">
            Volver al Login
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
