<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="main-container">
    <h1 class="welcome-header">{{nombre | uppercase}}</h1>

    <div class="details-card">
      <h2>Detalles de {{asignaturaNombre}}</h2>
      <div class="professor-info">
        <h3>PROFESOR</h3>
        <h2>Helton Smith</h2>
        <p>Sección: 001D</p>
        <p>Días: Lunes y Miércoles</p>
        <p>Hora: 10:00-12:00</p>
        <p>Sala: MP-LINF210</p>
      </div>
    </div>

    <ion-button expand="block" class="custom-button" (click)="accionQR()">
      {{ tipoUsuario === 'docente' ? 'GENERAR QR' : 'ESCANEAR QR' }}
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
