<app-header></app-header>

<ion-content class="ion-padding">
  <div class="qr-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Generar QR</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3>{{qrData}}</h3>
        <div class="qr-code">
          <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <ion-button expand="block" (click)="volver()">Volver al menú principal</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<app-footer></app-footer>
