<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-padding">
  <h2>Inicio de Sesión</h2>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Enviar solicitud</ion-button>
  </form>
  <ion-text color="danger" *ngIf="loginError">{{ loginError }}</ion-text>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
