<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="menu-container">
    <ion-card *ngFor="let asignatura of asignaturas">
      <ion-card-header>
        <ion-card-subtitle>Sección: {{asignatura.seccion}}</ion-card-subtitle>
        <ion-card-title>{{asignatura.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="detalles(asignatura.nombre)">Detalles</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
