<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
<div class="cuerpo">
  <div class="menu-container">
    <details>
      <summary>Arquitectura</summary>
      <p><strong>Seccion:</strong>001D</p>
      <ion-button expand="block" type="submit" (click)="detallesA()">Detalles</ion-button>
    </details>

    <details>
      <summary>Programación de Aplicaciones Móviles</summary>
      <p><strong>Seccion:</strong>001D</p>
      <ion-button expand="block" type="submit" (click)="detallesP()">Detalles</ion-button>
    </details>

    <details>
      <summary>Calidad de Software</summary>
      <p><strong>Seccion:</strong>001D</p>
      <ion-button expand="block" type="submit" (click)="detallesC()">Detalles</ion-button>
    </details>
  </div>
</div>
</ion-content>

 <ion-footer>
  <app-footer></app-footer>
</ion-footer>
